# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/example-maven-travis
    
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk-browsers
    
    steps:
    
      - checkout
      
      - run: mvn package



